<section class="register">
    <div class="text-center my-5">
        <h1>Create a Job posting</h1>
    </div>
    <div class="form-container">
        <form method="POST" action="/job/create">
            {{#if err}}
            <div class="alert alert-danger" role="alert">
                {{{err}}}
            </div>
            {{/if}}
            <div class="form-group mb-3">
                <label for="title" class="mb-2">Title</label>
                <input type="text" class="form-control" id="title" name="title" value="{{{title}}}"
                    aria-describedby="Enter title" placeholder="Enter title">
            </div>
            <div class="form-group mb-3">
                <label for="company" class="mb-2">Company</label>
                <input type="text" class="form-control" id="company" name="company" value="{{{company}}}"
                    aria-describedby="Enter company" placeholder="Enter company">
            </div>
            <div class="form-group mb-3">
                <label for="description" class="mb-2">Description</label>
                <textarea class="form-control" id="description" name="description" rows="3">{{{description}}}</textarea>
            </div>
            <div class="form-group mb-3">
                <label for="location" class="mb-2">Location</label>
                <input type="text" class="form-control" id="location" name="location" value="{{{location}}}"
                    aria-describedby="Enter location" placeholder="Enter location">
            </div>
            <div class="form-group mb-3">
                <label for="requirements" class="mb-2">Requirements</label>
                <textarea class="form-control" id="requirements" name="requirements" value="{{{requirements}}}"
                    rows="3">{{{requirements}}}</textarea>
            </div>
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
    </div>
</section>